<div class="login-container">
  <img class="film" src="assets/images/film.png" alt="" />
  <div class="logo">Movie Reviews</div>
  <div class="desc">
    Welcome to our movie review hub, your trusted source for cinematic insights. Our dedicated team analyzes a wide array of films, offering concise reviews to guide your movie choices.Whether you crave action, drama, or comedy, we've got it covered. Explore, discover, and join our cinephile community today!
  </div>
  <div class="login-form">
    <div class="form-group">
      <label for="uname">Username</label>
      <input
        type="text"
        name="uname"
        class="form-control"
        [(ngModel)]="username"
      />
    </div>
    <div class="form-group">
      <label for="pword">Password</label>
      <input
        type="password"
        name="pword"
        class="form-control"
        [(ngModel)]="password"
      />
    </div>
    <div class="btn-container">
      <div class="error">{{ errorMsg }}</div>
      <button class="btn btn-dark" (click)="login()">Login</button>
    </div>
  </div>
</div>
